:root {
    --dominant-color: #192A32;
    --second-dominant-color: #FFFFFF;
    --bg-color: #141E55;
    --block-container: #1A3769;
    --raiting-bg-color: #80BEF8;
    --hover-color: #2E9344;
    --accent-color: #EC622B;
    --event-text-color: #7C7C7C;
    --list-color: #F6F6F6;
    --table-border: #C5C5C5;
    --players-bg: #E2EAF7;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--dominant-color);
    background-color: var(--bg-color);
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* HEADER */
.header{
    padding-bottom: 8px;
    padding-top: 8px;
    background-color: var(--dominant-color);
    color: var(--second-dominant-color);
    text-transform: uppercase;
  }

  .header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .header-logo{
    background-color: var(--bg-color);
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    color: var(--second-dominant-color);
  }

  .header-nav{
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }

  .header-nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    background-color: var(--block-container);
    border-radius: 16px;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: var(--second-dominant-color);
    transition: background-color 0.3s ease;
  }

  .header-nav-item:hover, .header-nav-item:focus{
    background-color: var(--bg-color);
  }

  .nav-svg{
    margin-right: 8px;
  }

  .custom-select {
    display: flex;
    max-height: 48px;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background-color: var(--bg-color);
    border-radius: 16px;
    cursor: pointer;
    color: var(--second-dominant-color);
    position: relative;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    transition: background-color 0.3s ease;
}

.custom-select:hover, .custom-select:focus{
    background-color: var(--block-container);
}

.selected-option {
    display: flex;
    align-items: center;
}

.select-span{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 18px;
    margin-left: 10px;
    margin-right: 4px;
}

.options {
    display: none;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--second-dominant-color);
    margin: 0;
    padding: 0;
    z-index: 10;
    color: var(--dominant-color);
}

.options li {
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.options li:hover {
    background-color: var(--list-color);
}

.custom-select:focus-within .options {
    display: block;
}

.options img {
    margin-right: 10px;
}

.header-btn-wrap{
    display: flex;
    gap: 8px;
}

.signup-btn{
    color: var(--second-dominant-color);
    padding: 8px 16px;
    background-color: var(--accent-color);
    font-size: 12px;
    font-weight: 600;
    border-radius: 16px;
    line-height: 18px;
    transition: background-color 0.3s ease;
}

.signup-btn:hover, .signup-btn:focus{
    background-color: var(--hover-color);
}

.login-btn{
    color: var(--second-dominant-color);
    padding: 8px 16px;
    background-color: var(--hover-color);
    font-size: 12px;
    font-weight: 600;
    border-radius: 16px;
    line-height: 18px;
    transition: background-color 0.3s ease;
}

.login-btn:hover, .login-btn:focus{
    background-color: var(--accent-color);
}

/* SIDEBAR */
.sidebar{
    flex: 0 0 295px;
    max-width: 295px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.sidebar-container{
    background-color: var(--second-dominant-color);
    border-radius: 6px;
    margin-bottom: 20px;
}

.live-events{
    margin-top: 20px;
    background-color: var(--dominant-color);
    color: var(--second-dominant-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 22px;
    text-transform: uppercase;
}

.live-events-wrap{
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 14px 4px 4px;
    gap: 18px;
    border-radius: 60px;
}

.play-btn-wrap{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-dominant-color);
    border-radius: 50%;
}

.live-events-text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.events-list{
    padding: 24px 0;
    color: var(--event-text-color);
    font-size: 16px;
    line-height: 24px;
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.events-list-item{
    padding: 8px 0 8px 12px;
    display: flex;
    gap: 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.events-list-item:hover, .events-list-item:focus{
    background-color: var(--dominant-color);
    color: var(--second-dominant-color);
}

.casino-container{
    background-color: var(--second-dominant-color);
    border-radius: 6px;
}

.casino-title{
    background-color: var(--dominant-color);
    padding: 20px 0;
    color: var(--second-dominant-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 6px;
}

.img-wrap{
    display: flex;
    gap: 10px 10px;
    flex-wrap: wrap;
    padding: 20px 25px;
}

.img-wrap-item{
    width: calc((100% - 10px) / 2);
}

/* MOBILE */
.mobile-container-wrap{
    background-color: var(--second-dominant-color);
    border-radius: 6px;
    padding: 20px 15px;
    max-width: 320px;
    margin: 20px auto;
}

.mobile-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.mobile-text{
    max-width: 666px;
    font-size: 16px;
    line-height: 24px;
}

.mobile-btn{
    background-color: #1A3769;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 12px;
    color: var(--second-dominant-color);
    font-size: 16px;
    line-height: 19.2px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 16px;
    transition: background-color 0.3s ease
}

.mobile-btn:hover, .mobile-btn:focus{
    background-color: var(--bg-color);
}

/* HERO */
.hero-container-wrap{
    background-color: var(--bg-color);
    border-radius: 6px;
    background-image: url(./images/image1944.jpg);
    padding: 20px 0 20px 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 6px;
    max-width: 320px;
}

.grade-wrap{
    display: flex;
    gap: 8px;
    margin-bottom: 38px;
}

.grade{
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    color: var(--second-dominant-color);
}

.grade-list{
    display: flex;
    gap: 6px;
}

.hero-title{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    color: var(--second-dominant-color);
    margin-bottom: 8px;
    max-width: 538px;
    text-transform: uppercase;
}

.orange-btn{
    display: inline-block;
    padding: 14px 0;
    width: 214px;
    text-align: center;
    background-color: var(--accent-color);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.48px;
    color: var(--second-dominant-color);
    border-radius: 16px;
    border: 1px solid var(--second-dominant-color);
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0px 4px 18px rgba(14, 24, 17, 0.25);
    max-height: 48px;
    transition: background-color 0.3s ease
}

.orange-btn:hover, .orange-btn:focus{
    background-color: var(--hover-color);
}

.hero-extra-text{
    font-size: 6px;
    color: var(--second-dominant-color);
    margin-left: 57.5px;
}

/* CATEGORIES */
.cat-container-wrap{
    background-color: var(--second-dominant-color);
    padding: 20px 15px;
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 320px;
}

.categories-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.categories-list-item{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 98px;
    height: 102px;
    background-color: var(--list-color);
    border-radius: 6px;
    border-right: 1px solid var(--table-border);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.categories-list-item:hover, .categories-list-item:focus{
    box-shadow: 0px 1px 12px rgba(10, 98, 106, 0.15);
    background-color: var(--second-dominant-color);
}

.player-reviews-item{
    gap: 3px;
}

.cat-list-item{
    gap: 18px;
}

.cat-text{
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
    max-width: 47px;
}

.cat-text-end{
    max-width: 65px;
}

/* BONUS */
.bonus-container-wrap{
    padding: 40px 0 40px 10px;
    background-color: var(--second-dominant-color);
    background-image: url(./images/image1945.jpg);
    border-radius: 6px;
    margin: 0 auto;
    max-width: 320px;
    margin-bottom: 20px;
}

.bonus-title{
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 494px;
    margin-bottom: 16px;
}

.bonus-text{
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
    max-width: 494px;
    margin-bottom: 16px;
}

/* TEXT BONUS */
.text-bonus-wrap{
    background-color: var(--second-dominant-color);
    padding: 20px 15px;
    border-radius: 6px;
    margin: 0 auto;
    max-width: 320px;
    margin-bottom: 20px;
}

.text-bonus-title{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 16px;
    max-width: 505px;
}

.text-bonus-text{
    font-size: 16px;
    line-height: 24px;
    max-width: 885px;
}

/* RAITING */
.raiting-container-wrap{
    background-color: var(--second-dominant-color);
    border-radius: 6px;
    color: var(--second-dominant-color);
    padding: 20px 15px;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.raiting-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.raiting-list-item{
    background-color: var(--raiting-bg-color);
    padding: 8px 12px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.raiting-title{
    width: 165px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

.raiting-wrap{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.raiting-star-list{
    display: flex;
    gap: 2px;
}

/* FACTS */
.facts-container-wrap{
    background-color: var(--second-dominant-color);
    padding: 20px 15px;
    border-radius: 6px;
    margin: 0 auto;
    max-width: 320px;
    margin-bottom: 20px;
}

.facts-table{
    width: 290px;
    font-size: 16px;
    line-height: 24px;
}

.facts-title{
    max-width: 269px;
    border-bottom: 2px solid var(--table-border);
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 20px;
    margin-bottom: 18px;
}

.tbody{
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.table-item{
    border-bottom: 1px solid var(--table-border);
    font-size: 12px;
    line-height: 20px;
}

.first-cell{
    font-weight: 500;
    padding: 4px 8px;
    width: 100px;
}

.second-cell{
    padding: 4px 8px;
}

/* REVIEWS */
.reviews-container-wrap{
    background-color: var(--second-dominant-color);
    border-radius: 6px;
    margin: 0 auto;
    max-width: 320px;
    margin-bottom: 20px;
    padding: 20px 15px;
}

.reviews-title{
    text-transform: uppercase;
    font-size: 44px;
    line-height: 50px;
    font-weight: 700px;
    margin-bottom: 20px;
}

.reviews-text{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    display: flex;
}

.review-litle-title{
    font-size: 36px;
    line-height: 40px;
    font-weight: 700px;
    margin-bottom: 20px;
    margin-top: 32px;
    text-transform: uppercase;
}

.minus{
    margin-right: 6px;
}

.num{
    margin-right: 8px;
    color: var(--hover-color);
}

.reviews-btn{
    display: inline-block;
    margin-top: 8px;
    background-color: var(--accent-color);
    padding: 14px 0;
    color: var(--second-dominant-color);
    font-size: 16px;
    line-height: 20.48px;
    font-weight: 600;
    text-transform: uppercase;
    width: 127px;
    box-shadow: 0px 4px 18px rgba(14, 24, 17, 0.25);
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reviews-btn:hover, .reviews-btn:focus{
    background-color: var(--hover-color);
}

/* PLAYERS */
.players-container-wrap{
    background-color: var(--second-dominant-color);
    padding: 20px 15px;
    border-radius: 6px;
    margin: 0 auto;
    max-width: 320px;
    margin-bottom: 20px;
}

.players-title-wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.players-title{
    text-transform: uppercase;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

.players-list{
    display: flex;
    gap: 17px;
}

.players-list-item{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--players-bg);
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.players-wrap{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.players-wrap-item{
    padding: 20px 15px;
    background-color: var(--players-bg);
    border-radius: 6px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.player-text-wrap{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.players-name{
    text-transform: uppercase;
    font-weight: 600px;
    font-size: 16px;
    line-height: 19.2px;
    width: 100px;
}

.players-text{
    font-size: 12px;
    line-height: 20px;
    max-width: 200px;
}

.players-text-grade{
    font-size: 12px;
    line-height: 14.4px;
}

.player-name-wrap{
    display: flex;
    justify-content: space-between;
}

.svg-wrap{
    display: flex;
    gap: 6px;
}

/* SUPPORT */
.support-container-wrap{
    background-color: var(--second-dominant-color);
    background-image: url(./images/image1946.jpg);
    padding: 20px;
    border-radius: 6px;
    margin: 0 auto;
    max-width: 320px;
    margin-bottom: 20px;
}

.support-title{
    font-size: 40px;
    font-weight: 700px;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.support-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
    margin-bottom: 35px;
}

.support-list-item{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 12px 24px;
    border-radius: 16px;
    border: 1px solid var(--dominant-color);
}

.support-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20.48px;
    font-weight: 600;
    color: var(--dominant-color);
}

.support-table-body{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    line-height: 24px;
}

.support-row{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10px 0;
    border-bottom: 1px solid var(--dominant-color);
    width: 300px;
}

.support-first-cell{
    display: flex;
    gap: 16px;
    width: 252px;
}

.support-second-cell{
    width: 300px;
}

.support-accent-link{
    color: var(--hover-color);
}

.click-here{
    font-weight: 600;
}

/* FAQ */
.faq-container-wrap{
    background-color: var(--second-dominant-color);
    border-radius: 6px;
    padding: 20px 15px;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.faq-title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    margin-left: 6.5px;
    margin-bottom: 20px;
}

.faq-litle-title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.litle-title-wrap{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(119, 119, 119, 0.5);
}

.question{
    display: none;
    padding: 16px 12px;
    background-color: var(--players-bg);
}

.faq-toggle {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.faq-toggle.rotate {
    transform: rotate(180deg);
}

.faq-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* FOOTER */
.footer{
    padding: 20px 15px;
    background-color: var(--second-dominant-color);
    border-radius: 6px;
    margin: 0 auto;
    max-width: 320px;
}

.footer-wrap{
    display: flex;
    gap: 8px;
}

.footer-text{
    width: 250px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.footer-limit{
    width: 40px;
    height: 40px;
    border: 1px solid var(--dominant-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.footer-btn-wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-btn{
    background-color: var(--bg-color);
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color: var(--second-dominant-color);
}

.btn1{
    padding: 6px 15px;
}

.btn2{
    padding: 6px 0;
    width: 100px;
    text-align: center;
}

@media screen and (min-width: 1265px){
/* HEADER */
  .header{
    padding-bottom: 12px;
    padding-top: 12px;
  }

  .header-container{
    flex-direction: row;
    gap: 0;
  }

  .header-logo{
    font-size: 20px;
    line-height: 25.6px;
    padding: 15px 32px;
    margin-right: 28px;
  }

  .header-nav{
    gap: 21px;
    margin-right: 50px;
    width: 100%;
  }

  .header-nav-item{
    padding: 12px 24px;
    font-size: 16px;
    line-height: 20.48px;
  }

  .nav-svg{
    margin-right: 10px;
  }

  .custom-select {
    padding: 12px 26px;
    margin-right: 16px;
    font-size: 16px;
    line-height: 20.48px;
}

.select-span{
    font-size: 16px;
    line-height: 20.48px;
}
.header-btn-wrap{
    gap: 0px;
}

.signup-btn{
    padding: 12px 32px;
    font-size: 16px;
    margin-right: 16px;
    line-height: 20.48px;
}

.login-btn{
    padding: 12px 32px;
    font-size: 16px;
    line-height: 20.48px;
}

/* SIDEBAR */
.sidebar{
    margin: 0;
}

.main-container {
    flex-direction: row-reverse;
}

.content {
    flex: 1;
    max-width: 925px;
}

/* MOBILE */
.mobile-container-wrap{
    padding: 25px 20px;
    max-width: 100%;
    margin: 20px 0;
}

.mobile-container{
    flex-direction: row;
    gap: 40px;
}

/* HERO */
.hero-container-wrap{
    padding: 40px 0 49px 20px;
    max-width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

.hero-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 16px;
}

/* CATEGORIES */
.cat-container-wrap{
    padding: 32px 20px;
    max-width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

.categories-list{
    flex-wrap: nowrap;
    max-height: 102px;
}

/* BONUS */
.bonus-container-wrap{
    padding: 85px 0 85px 20px;
    max-width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

.bonus-title{
    font-size: 40px;
    line-height: 48px;
}

.bonus-text{
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 700;
}

/* TEXT BONUS */
.text-bonus-wrap{
    padding: 32px 20px;
    max-width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

.text-bonus-title{
    font-size: 48px;
    line-height: 57.6px;
}

/* RAITING */
.raiting-container-wrap{
    padding: 32px 20px;
    max-width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

.raiting-list-item{
    background-color: var(--raiting-bg-color);
    padding: 16px 24px;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: center;
}

.raiting-wrap{
    flex-direction: row;
    gap: 16px;
}

.raiting-star-list{
    gap: 8px;
}

/* FACTS */
.facts-container-wrap{
    padding: 32px 20px 24px 20px;
    max-width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

.facts-table{
    width: 850px;
}

.table-item{
    font-size: 16px;
    line-height: 24px;
}

.first-cell{
    padding: 8px 16px;
    width: 230px;
}

.second-cell{
    padding: 8px 16px;
}

/* REVIEWS */
.reviews-container-wrap{
    max-width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding: 32px 20px;
}

.reviews-title{
    font-size: 48px;
    line-height: 57.6px;
    margin-bottom: 24px;
}

.review-litle-title{
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 24px;
    margin-top: 36px;
}

/* PLAYERS */
.players-container-wrap{
    padding: 20px 20px 26px 20px;
    max-width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

.players-title{
    font-size: 40px;
    line-height: 48px;
}

.players-wrap{
    flex-direction: row;
    gap: 19px;
}

.players-wrap-item{
    padding: 32px 20px 32px 32px;
    gap: 31px;
}

.players-name{
    width: 179px;
}

.players-text{
    font-size: 16px;
    line-height: 24px;
    max-width: 241px;
}

.player-name-wrap{
    display: flex;
    justify-content: space-between;
}

/* SUPPORT */
.support-container-wrap{
    margin: 0;
    max-width: 100%;
    margin-bottom: 20px;
}

.support-title{
    font-size: 48px;
    line-height: 57.6px;
    margin-bottom: 24px;
}

.support-list{
    flex-direction: row;
    gap: 16px;
}

.support-table-body{
    gap: 16px;
}

.support-row{
    gap: 26px;
    padding: 10px 0;
    width: 886px;
}

.support-second-cell{
    width: 480px;
}

/* FAQ */
.faq-container-wrap{
    margin: 0;
    max-width: 100%;
    padding: 30px 20.5px;
    margin-bottom: 20px;
}

.faq-title{
    font-size: 48px;
    line-height: 57.6px;
    margin-bottom: 32px;
}

/* FOOTER */
.footer{
    padding: 36px 20px;
    margin: 0;
    max-width: 100%;
}

.footer-wrap{
    gap: 16px;
}

.footer-text{
    width: 782px;
    height: 148px;
}

.footer-limit{
    width: 85px;
    height: 85px;
    font-size: 28px;
}

.footer-btn-wrap{
    margin-top: 26px;
}

.footer-btn{
    font-size: 32px;
    line-height: 40.96px;
}

.btn1{
    padding: 6px 30px;
}

.btn2{
    width: 253px;
}
}