:root {
    --dominant-color: #192A32;
    --bg-color: #141E55;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--dominant-color);
    background-color: var(--bg-color);
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }